/* styles.css */

body {
    font-family: Arial, sans-serif;
     
}

.container {
    width: 80%; /* Controla el ancho del contenido */
    max-width: 800px; /* Máximo ancho para pantallas grandes */
}

.tabs {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 60px;
}

.tab-button {
    font-size: 23px;
    width: 200px;
    height: 70px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: rgb(10, 13, 15) solid;
    outline: none;
}

.tab-button.active {
    background-color: cornflowerblue;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}
